* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
	background-color: gray;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.2em;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.main-container {
	width: 50vw;
}

h1 {
	align-self: center;
}
img {
	display: flex;

	float: left;
}

.paragraph {
	text-align: justify;
	margin-left: 5rem;
	margin-right: 5rem;
}
